
@import "normalize";
@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$susy: (
    columns: 4, 
    gutters: 0.25,
    global-box-sizing: border-box,
    debug: (image: show-columns)
  );

@include border-box-sizing;

.l-wrap {
    @include container(1140px);
    padding-left: 5%;
    padding-right: 5%;
}

.l-content {
    @include span(4);

    height: 80vh;
    background-color: steelblue;

    @include breakpoint(768px) {
        @include span(3 of 4);
    }
}

.l-sidebar {
    @include span(4);

    height: 80vh;
    background-color: mediumseagreen;

    @include breakpoint(768px) {
        @include span(last 1 of 4);
    }
}

h2 {
    padding: 0.5rem 0 0 1rem;
    color: black;
}